@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Poppins:wght@200&display=swap);

/* Default CSS */
* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-size: 15px;
    font-family: 'Pretendard', sans-serif;
    line-height: 1.6em;
    background-color: #fff;
    color: #222;
    margin: 0;
}

/* HEADER */
header {
    padding: 20px 0 0 0;
}
.normal_logo_front_img{
    width: 300px;
}

.BACKGROUND{
    /* height: 84vh; */
    height: 100vh;
    display: grid;
    /* justify-items: ; */
    align-content: center;
    background-image: url('../images/BACKGROUND01.png');
    background-position: center;
    background-repeat: no-repeat;

    /* border: 2px solid purple; */
}

.row{
    width: 600px;
    left: 11%;
    position: fixed;
    font-family: 'Pretendard', sans-serif;
    z-index: 1;
}



/* TEXT */
.TEXT{
    margin-left: 1%;
    margin-top: 25%;  
}
.contents{
    text-align: left;
    letter-spacing: -0.02em; 
    margin-bottom: 20px; 
    font-size: clamp(0.9rem,1vw,1.1rem);
    text-shadow:0px 0px 12px rgba(0,0,0,0.1); 
    line-height: 1.7em; 
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
}


/* RADAR */
.radar {
    margin-top: 20%; 
    left: 11%;
    position: fixed;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}
.item.thum .photo {
    height: 200px;
    border-radius: 45px;
    box-shadow: 0 4px 25px -15px rgba(0, 0, 0, 0.55);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.radar-title{
    display: block;
    text-align: center;
    margin-top: 8px;
}
.item.thum:nth-of-type(1) .photo {
    background-image: url(../images/favicon_package_v0.16/android-chrome-192x192.png);
}
.item.thum:nth-of-type(2) .photo {
    background-image: url(../images/favicon_package_v0.16/android-chrome-192x192.png);
}
.item.thum:nth-of-type(3) .photo {
    background-image: url(../images/favicon_package_v0.16/android-chrome-192x192.png);
}
.btn-view {
    text-decoration-line:none;
    color: inherit;
    padding: 2px 8px;
    border-radius: 3px;
    background-color: rgba(118,118,118,0.15);
}



/* FOOTER */
#doz_footer .footer-section {
    background-repeat: no-repeat;
    background-position : 0%;
    background-color :rgba(56,56,56,1);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff383838,endColorstr=#ff383838);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff383838,endColorstr=#ff383838);	zoom: 1;
    color : #ffffff;;
    color            :rgba(255, 255, 255, 0.8);
    padding-top      : 20px;
    padding-bottom   : 20px;
}
#doz_footer .footer-section a {
    color : #ffffff;
    color:rgba(255, 255, 255, 0.8) !important;
}
#doz_footer .footer-section .custom-text .custom-text-info p,
#doz_footer .footer-section .custom-text .custom-text-info p+p {
    margin-bottom: 10px;
}


